<!-- everything here is inhired from base.html-->
{% extends 'base.html' %}

{% block head%}
<title>Access Lite Flask</title>
{% endblock %}


{%block body%}
<div class = 'head-band'>
    <h1> Access Lite </h1>
    <div class="admin-info">
        <span>Logged in as: <strong>Jiaqi</strong></span>
    </div>
</div>

<nav class="navbar"></nav>
    <ul class="nav-links">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#">Students</a></li>
        <li><a href="#">Report</a></li>
    </ul>
</nav>
{%endblock%}
